@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";

body {
  overflow-x: hidden;
}

@keyframes slide-in {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0);
  }
}

.note {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: $gray-400;
  animation: slide-in 1s ease;
}

.notes {
  overflow-y: scroll;
  overflow-x: hidden;
}

.note-text {
  overflow-y: scroll;
}

.dashboard {
  height: 100vh;
  overflow-y: scroll;
  background: $gray-100;
  padding: 0;
}

.dashboard-buttons {
  background: $gray-200;
}

.note-body {
  max-height: 12rem;
  overflow-y: hidden;
}

.tags > .tag {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
