@import "~bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
}

.note {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: $gray-400;
  transition: transform 1s;
}

.notes {
  overflow-y: scroll;
}

.note-text {
  overflow-y: scroll;
}

.hidden {
  transform: translate(100%);
}

.dashboard {
  height: 100vh;
  overflow-y: scroll;
  background: $gray-100;
  padding: 0;
}

.dashboard-buttons {
  background: $gray-200;
}

.note-body {
  max-height: 12rem;
  overflow-y: hidden;
}

.tags > .tag {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
