@import "~bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;
}

@keyframes slide-in {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0);
  }
}

.note {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: $gray-400;
  animation: slide-in 1s ease;
}

.notes {
  overflow-y: scroll;
}

.note-text {
  overflow-y: scroll;
}

.dashboard {
  height: 100vh;
  overflow-y: scroll;
  background: $gray-100;
  padding: 0;
}

.dashboard-buttons {
  background: $gray-200;
}

.note-body {
  max-height: 12rem;
  overflow-y: hidden;
}

.tags > .tag {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
