body {
  overflow-x: hidden;
}

.note {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background: #ced4da;
  transition: transform 1s;
}

.notes {
  overflow-y: scroll;
}

.note-text {
  overflow-y: scroll;
}

.hidden {
  transform: translate(100%);
}

.dashboard {
  height: 100vh;
  overflow-y: scroll;
  background: #f8f9fa;
}

.dashboard-buttons {
  background: #e9ecef;
}

.ui {
  position: absolute;
  z-index: 1000;
  width: 100vw;
  min-height: 100vh;
  background: #495057;
}

.note-body {
  max-height: 12rem;
  overflow-y: hidden;
}

.tags > .tag {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.preload * {
  transition: none;
}
